.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: 20px;
}

.header {
    text-align: center;
}

.personal_info {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.educacion {
    padding: 20px;
}

h1, h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 5px;
}

strong {
    font-weight: bold;
}
